/* 
 * Sidebar
 */
.sidebar {
  background: #99102d;
  width: calc(70% - 28px);
  height: 30%;
  max-width: 275px;
  top: 0;
  left: 0;
  position: fixed;
  padding: 14px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  opacity: 0.3;
  z-index: 1000;
}
.sidebar.open {
  -webkit-transform: translate(0, 46px);
      -ms-transform: translate(0, 46px);
          transform: translate(0, 46px);
  opacity: 1;
  height: 100%;
/* scale height */
/*
	similar to the height transition
	animation: sidehide .4s ease;
	*/
}
@-webkit-keyframes sidehide {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.sidebar .sidebar-toggle {
  float: right;
}
.top-nav {
  left: 0;
  top: 0;
  height: 46px;
  width: 100%;
  position: absolute;
  line-height: 46px;
  background: #3e3e3e;
  color: #efefef;
}
.top-nav .sidebar-toggle {
  left: 14px;
  top: 0px;
  position: absolute;
}
.top-nav .sidebar-toggle:before {
  content: '\2630';
  font-size: 18px;
}
.top-nav .title {
  line-height: 46px;
  margin: 0;
  margin-left: 46px;
}
.top-nav .title img {
  height: 46px;
}
.sidebar h4 {
  margin: 0;
  color: #efefef;
}
.nav-list {
  margin: 0;
  padding-left: 14px;
  list-style: none;
}
.nav-item {
  color: #efefef;
  font-size: 14px;
  line-height: 28px;
}
@-webkit-keyframes sidehide {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes sidehide {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
