<html>
<head>
	<title>Main - Node Express Site</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/derby.js"></script>
</head>
<body>
	{{ sidebar }}
	<div>
		<p>Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. Plenty of text to go around. </p>
	</div>
</body>
</html>